<h1>Hello!</h1>
<p>You haven't logged in yet.</p>

<div id="login">
<h2>Login</h2>
<form name="login" action="/login" method="POST">
<p><input type="text" autocomplete="off" name="username" placeholder="username"></p>
<p><input type="password" autocomplete="off" name="password" placeholder="password"></p>
<p><input type="submit"></p>
</form>
</div>